<html>
    <body>
        Welcome EJS home page - <%=msg%>

        <%=courses%>
        <ul>
        <% courses.forEach((item)=>{%>
            <li><%=item%></li>


        <%})%>
    </ul>

    </body>
</html>